/* General navbar styles */
nav {
  top: 0px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 16px 100px;
  background: #ffffff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 32px;
}

nav ul li a {
  color: var(--Base---Grey, #5e5e5e);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(
    --Primary-Color,
    #000000
  ); /* Ganti dengan warna hover yang diinginkan */
}

nav ul li a.active {
  color: var(
    --Primary-Color,
    #000000
  ); /* Ganti dengan warna untuk link aktif */
  font-weight: bold;
}

/* Profile dropdown styles */
.profile-dropdown {
  position: relative;
}

.profile-dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  color: var(--Base---Grey, #5e5e5e);
  transition: color 0.3s ease;
}

.profile-dropdown button:hover {
  color: var(
    --Primary-Color,
    #000000
  ); /* Ganti dengan warna hover yang diinginkan */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  padding: 16px;
  z-index: 1;
}

.dropdown-menu li {
  list-style: none;
  margin-bottom: 8px;
}

.dropdown-menu a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--Base---Grey, #5e5e5e);
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

/* Show dropdown menu on hover */
.profile-dropdown:hover .dropdown-menu {
  display: block;
}
