.container-payment {
  display: inline-flex;
  height: 808px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid var(--light-grey-hover, #e7e7e7);
  background: #fff;
}
.first-container-payment {
  justify-content: center;
  margin: 121px 0px 50px 0px;
  display: flex;
  gap: 40px;
}
.container-code {
  display: flex;
  gap: 4px;
}
.date-info-ticket {
  color: var(--Base---Grey, #5e5e5e);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text-jadwal {
  color: var(--Darker---Grey, #212121);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.detail-ticket {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.date,
.time,
.location {
  font: normal 500 16px;
  color: var(--Basic-Forms-Checkbox-Icon-Color, #6b7280);
}
.line {
  width: 598px;
  height: 0px;
}
.info-ticket {
  display: inline-flex;
  padding: var(--Utilities-Height-4, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid var(--light-grey-hover, #e7e7e7);
  background: #fff;
  height: fit-content;
}
.nama-tiket {
  color: var(--Darker---Grey, #212121);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.info-2 {
  display: flex;
  gap: 16px;
}

.text-kode-pesanan {
  color: var(--Base---Grey, #5e5e5e);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header-info-ticket {
  display: flex;
  width: 600px;
  justify-content: space-between;
}
.kode-pesanan {
  color: var(--Darker---Grey, #212121);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.title-payment {
  color: var(--Darker---Grey, #212121);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.method-payment {
  color: var(--Base---Grey, #5e5e5e);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.timer {
  display: flex;
  padding: var(--Utilities-Height-4, 16px);
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
  background: #e6f2ff;
}

.countdown {
  color: var(--Darker---Grey, #212121);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.info {
  width: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 6px;
  border: 1px solid #e7e7e7;
}

.date-payment {
  color: #212121;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.order-code,
.amount {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.qr-container {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.status-link {
  color: #007bff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.status-link:hover {
  text-decoration: underline;
}
